* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {

    background-image: url(sample-image.jpg);
    height: 95vh;
    background-size: cover;
   
}

body {
    position: relative;
    min-height: 100vh;  

}

section { 
    padding-bottom: 2.5rem; 
    min-height: 20vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    background: gray
}

.testimonials {
    margin-left: 20px;
    margin-right: 20px;
}

.testimonial {
    color: gray;
    float: left;
    width: 200px;
    background: rgb(233, 226, 219);
    line-height: 1.3rem;
    margin-right: 30px;
    padding: 10px
}

.testimonial > img {
    width: 160px;
    height: 160px;
}