/* *, h3 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {

    background-image: url('sample-image.jpg');
    height: 3.5rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center
   
}

.header__title {
    color: beige;
    
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    min-height: 100vh;
}

section { 
    padding-bottom: 2.5rem; 
    min-height: 20vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    background: gray
}

.testimonials {
    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.testimonial {
    color: gray;    
    width: 300px;
    background: rgb(233, 226, 219);
    line-height: 1.3rem;
    padding: 10px;
    flex-grow: 1;
    border: 1px solid black;
    margin: 10px 2px;
}

.testimonial img {
    width: 160px;
    height: 160px;
    border: 5px solid white;
    border-radius: 5rem;
    margin-bottom: 15px;
}

.testimonial__title {
    font-size: 1.5625rem;
    margin-bottom: 15px;
}


.testimonial__description {
    padding: 1.8125px;
}

.main {
    background: purple;
} */
:root {
    --clr-primary: #d19018;
    --clr-secondary: #d19018;
    --clr-background: #eff2f5;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-background);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    box-shadow: white;
    padding: 50px;
    border: 50px solid red;
    /* height: auto;
    width: auto; */
}

img {
    margin: 0 auto;
    width: 80vw;
    display: block;
}

@media only screen and (min-width: 768px) {
    img {
        width: 40vw
    }
}

@media only screen and (min-width: 1024px) {
    img {
        width: 30vw
    }
}