@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;500;600;700&family=Oswald:wght@300;700&family=Playfair+Display:wght@900&family=Roboto:wght@100;300;400;700;900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body, h1, h2, h3, ul {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

.btn {
    background-color: #A59678;
    padding: .25em 1em;
    border-radius: 1.5em;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    background-color: #2E323F;
    color: #fff;
    font-family: 'Oswald';
    padding: 2em 0;
    text-align: center;
}

.intro {
    font-family: 'Oswald';
    background-color: #3B4050;
    color: #FFFFFF;
    text-align: center;
    padding: 4em 0;
}

.intro__title {
    font-size: 3em;
}

.intro__title > span {
    color: #A59678;
}

.section-one {
    font-size: 1.2em;
    padding: 2em 0;
    background-color: #f4f5f8;
    margin-inline: auto;
}

.feature {
    text-align: center;
    max-width: 300px;
    margin-inline: auto;
}

.feature__title {
    font-family: 'Oswald';
    font-size: 1.5em;
    color: #A59678;
}

.feature__texts {
    font-family: 'Montserrat';
    font-size: .85em;
}

@media screen and (min-width: 40rem) {
    .d-flex {
        display: flex;
    }

    .nav__link {
        margin: 1em;
    }

    .section-one {
        padding: 4em 0;
    }

    .features__list {
        display: flex;
        justify-content: space-around;
    }
    
}

@media screen and (min-width: 60rem) {
}