@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;500;600;700&family=Oswald:wght@700&family=Playfair+Display:wght@900&family=Roboto:wght@100;300;400;700;900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

.btn {

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    background-color: #2E323F;
    color: #fff;
    font-family: 'Oswald';
}

.d-flex {
    display: flex;
}

.nav__link {
    margin: 1em;
}

.nav__link-button {
    background-color: #A59678;
    padding: .25em 1em;
    border-radius: 1.5em;
}

.intro {
    background-color: #3B4050;
    color: #FFFFFF;
}