@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;500;600;700&family=Oswald:wght@300;700&family=Playfair+Display:wght@900&family=Roboto:wght@100;300;400;700;900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body, h1, h2, h3, ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
}

.btn {
    background-color: #A59678;
    padding: .25em 1em;
    border-radius: 1.5em;
}

.btn--large {
    font-size: 1.25em;
    font-weight: 700;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header Styles */

header {
    background-color: #2E323F;
    color: #fff;
    font-family: 'Oswald';
    padding: 2em 0;
    text-align: center;
}

.logo {
    cursor: pointer;
}

.nav__link {
    margin: 1em 0;
}

.nav__link-anchor {
    font-weight: bold;
}

/* Intro section styles */

.intro {
    font-family: 'Oswald';
    background-color: #3B4050;
    color: #FFFFFF;
    text-align: center;
    padding: 4em 0;
}

.intro__title {
    font-size: 3em;
}

.intro__title > span {
    color: #A59678;
}

/* Section One styles */

.section-one {
    font-size: 1.2em;
    padding: 2em 0;
    background-color: #f4f5f8;
    margin-inline: auto;
}

.feature {
    text-align: center;
    max-width: 300px;
    margin-inline: auto;
}

.feature__title {
    font-family: 'Oswald';
    font-size: 1.5em;
    color: #A59678;
}

.feature__texts {
    font-family: 'Montserrat';
    font-size: .85em;
}

/* Section Two styles */

.section-two {
    padding: 2em 0;
    margin-inline: auto;
    text-align: center;
}

.options__detailed__title {
    font-family: 'Oswald';
    font-size: 2em;
    color: #A59678;
}

.options__detailed__texts {
    font-family: 'Montserrat';
    font-size: .85em;
}

.options__brief-item {
    padding: 1em 0;
    background-color: #2E323F;
    color: #fff;
    margin: 1em 0;
    font-size: 1.25em;
}

.options__brief-item .title {
    font-family: 'Oswald';
}

.options__brief-item .text {
    font-family: 'Montserrat';
    font-size: .75em;
    padding: 0 2em;
}

.options__brief-item .title--transparent {
    opacity: 0;
}

/* Footer Styles */

footer {
    background-color: #2E323F;
    color: #fff;
    font-family: 'Oswald';
    padding: 2em 0;
    text-align: center;
}

.footer-title {
    font-size: 2.5em;
    font-family: 'Oswald';
}

.about-company__text {
    font-family: 'Montserrat';
    padding: 0 2em;
}

.footer__blocks-title, .about-company__title {
    font-family: 'Oswald';
    font-size: 1.25em;
    color: #A59678;
}

.footer__links {
    font-family: 'Montserrat';
    font-size: 1em;
}

/* Styles for Medium Devices */

@media screen and (min-width: 40rem) {

    .header {
        display: flex;
        justify-content: space-between;
    }

    .nav__list {
        display: flex;
    }

    .nav__link + .nav__link {
        margin-left: 1em;
    }

    .section-one {
        padding: 4em 0;
    }

    .features__list {
        display: flex;
        justify-content: space-around;
    }

    .options__brief {
        display: flex;
    }

    .options__brief-item {
        margin: 0 .25em;
    }
    
}

/* Styles for Large Devices */

@media screen and (min-width: 60rem) {

    .intro-container {
        display: flex;
        justify-content: space-between;
    }

    .intro__title {
        font-size: 4em;
        text-align: left;
        max-width: 40%;
    }

    .intro__texts {
        margin-left: 3em;
        max-width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: left;
    }

    .intro__text {
        padding: 0 5em 0 0;
        font-size: 1.5em;
    }

    .intro__texts a {
        align-self: flex-start;
    }

    .options {
        display: flex;
    }

    .options__detailed  {
        text-align: left;
    }

    .options-item + .options-item {
        margin-left: 2em;
    }

    .options__brief {
        display: block;
    }

    .options__brief-item {
        text-align: center;
        margin: 1em 0;
    }
}