* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}

.sidenav {
    background-color: bisque;
    width: min(100% - 1rem, 200px);
}

.contents {
    padding: 0.25rem 1rem;
    width: min(100% - 1rem, 600px);
    margin-inline: auto;
    border: 5px solid tomato;
}