
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Playfair+Display:wght@900&family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
   max-width: 1128px;
   width: 80%;
   margin-inline: auto;
}

.section-one {
    padding: 10rem 0;
    background-color: #F3EED9;
    text-align: center;
}

.section-one__title-primary {
    font-family: 'Playfair Display';
    font-size: 2em;
    color: #824936;
}

.section-one__title-secondary {
    font-family: 'Roboto';
    font-weight: 300;
}