
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Playfair+Display:wght@900&family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: inline-block;
}

.container {
   max-width: 1000px;
   width: 80%;
   margin-inline: auto;
}

.section-one {
    padding: 10rem 0;
    background-color: #F3EED9;
    text-align: center;
}

.section-one__title-primary {
    font-family: 'Playfair Display';
    font-size: 3.75em;
    color: #824936;
}

.section-one__title-secondary {
    font-family: 'Roboto';
    font-weight: 300;
}

.section-two {
    padding: 5rem 0;
}

.section-two__title {
    font-family: 'Playfair Display';
    font-size: 2em;
    color: #824936;
}

.section-two__contents_item {
    font-family: 'Roboto';
    font-size: 1.25em;
    font-weight: 300;
    margin: 1em 0;
}

.section-three {
    padding: 5rem 0;
}

.section-three--primary {
    background-color: #222C2A;
    color: #fff;
}

.section-three--secondary {
    background-color: #824936;
    color: #fff;
}

.section-three .title {
    color: #F3EED9;
    font-family: 'Playfair Display';
    font-size: 2em;
}

.section-three .body {
    font-family: 'Roboto';
    font-size: 1.25em;
    font-weight: 300;
    margin: 1em 0;
}

@media (min-width: 40rem) {
    .section-two__title {
        text-align: center;
    }
    .section-two__contents {
        display: flex;
    }
    .section-three__texts {
        display: flex;
        justify-content: space-around;
    }
    .section-three__texts div {
        width: 48%;
    }
}