* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    /* border: 2px solid hotpink; */
    /* width: 10rem; */
    margin: 0 1rem;
    display: flex;
    flex-direction: column-reverse;
}

.card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}